<form class="form-horizontal" role="form" ng-submit="register(frm)">
  <div class="form-group">
    <label for="user" class="col-xs-2 control-label">User</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" ng-model="frm.user" id="user" placeholder="User">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-xs-2 control-label">Password</label>
    <div class="col-xs-10">
      <input type="password" class="form-control" ng-model="frm.password" id="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="passwordCheck" class="col-xs-2 control-label">Retype Password</label>
    <div class="col-xs-10">
      <input type="password" class="form-control" ng-model="frm.passwordCheck"
             id="passwordCheck" placeholder="Retype Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
</form>
<p>Hint: You can use admin/admin for log in directly</p>